data/*.parquet
data/*.zip
data/*.csv
data/bm25s_index/
data/embeddings/
data/embeddings_*.npy
data/embeddings_*_shards/
!answer.csv

kaggle_dataset/*.parquet
kaggle_kernel/output/

__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

.idea/

.DS_Store
notebooks/advanced_eda.ipynb